.App {
  height: 100%;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
  padding: 30px 100px;
}

.two-users-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.chatroom-col {
  padding: 20px;
  /* margin-left: 10px;
  margin-right: 10px; */
  height: 100%;
  width: 100%;
  border: thin solid black;
  border-radius: 5px;
}

.chat-events-list {
  height: calc(100% - 80px);
  overflow-y: auto;
}

.event-label {
  background-color: #ffffff;
  border: solid 1px #d8d8d8;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 4px;
}
